$primary:#3292a6;
$primary-overlay:rgba(50,146,166,0.3);


body{
  margin-top: 76px;
}

// .btn, #allNotes, #done{
//   display: none;
// }


//navbar burasi


.navbar{
  box-shadow: 2px 2px 5px $primary; //navbar in altindaki golgeli cizgi.
  // opacity: 0.9;
  background: #fff;

  // #customLi{
  //   border-left: 1px solid $primary;
  //
  // }

  .nav-item{
    font-size: 18px;
    padding-right: 5px;
    // border-right: 1px solid $primary;
  }
}
//navbar biter


//main section burada baslar
 #main{
   background: url('../img/main2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   min-height: 600px;

   .primary-overlay{
      background: $primary-overlay;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .row{
      margin-top: 120px;
    }




 }
//main section burada biter




//mynotes burada baslar
#mynotes{
  background: url('../img/main2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 600px;

  .primary-overlay{
     background: $primary-overlay;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   }

   .row{
     margin-top: 70px;
   }

   //gizlenen butonlar
   #allNotes{
     display: none;
   }
   #done{
     display: none;
   }

   textarea{
     width: 100%;
     max-width: 100%;
     opacity: 0.9;
     font-size: 18px;
     color: #0A2342;
     border-left-width: 25px;
     border-color: #E3E7AF;
   }
   #notePad{
     display: none;
   }
}
//my notes burada biter


//profile baslar
#profile{
    background: url('../img/main2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 600px;

    .primary-overlay{
       background: $primary-overlay;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
     }

     .row{
       margin-top: 70px;
     }

     .containerCustom{
       background-color: rgba(49, 36, 36, 0.1);
       border-radius: 20px;

     }

     #form{
       font-size: 18px;

     }

}
//profile biter
