<section id="about">
  <div class="primary-overlay text-white">
    <div class="row">
      <div class="container">
        <h1 class="display-3">About</h1>
          <p class="lead">This is a Node.Js & Express App which you can keep all your notes online.</p>
          <p class="lead">Creator: Mustafa Erden</p>
          <p class="lead">Contact: mustafaerden87@gmail.com</p>
      </div>
    </div>
  </div>
</section>