<section id="main" class="py-5">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9 m-auto text-left">
          <h1 class="display-3">Online Notes App</h1>
          <p class="lead">Your notes with you wherever you go. Easy to use, protects all your notes!</p>
          <button class="btn btn-primary btn-lg mt-2"><a class="text-white" href="/users/register">Sign Up - It's Free</a></button>
        </div>
      </div>
    </div>
  </div>
</section>